<div class="landing-body">
	<div class="row">
		<div class="large-8 columns landing-logo">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus maxime veritatis omnis quaerat modi sapiente laboriosam possimus, ipsam commodi quod rem earum dolor facilis cupiditate magnam rerum inventore repellat, laudantium.</div>
		<div class="large-4 columns landing-greeting">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti rem eos, eveniet quos nam aspernatur assumenda ipsa, quo nobis labore at sapiente excepturi magnam ullam eius libero laborum dignissimos alias!</div>
		<div class="large-4 columns	landing-form-container">
			<form name="RegistrationForm" class="landing-form">
				<input name="username" type="text" ng-minlength="6" ng-model="registration.username" required>
				<div role="alert">
					<span class="error" ng-show="RegistrationForm.input.$error.required">
						Required!
					</span>
				</div>

				<input name="email" type="email" ng-model="registration.email" required>
				<div role="alert">
					<span class="error" ng-show="RegistrationForm.input.$error.email">
						Required!
					</span>
				</div>

				<input name="password" type="password" ng-model="registration.password" ng-minlength="6" ng-maxlength="15" required >
				<div role="alert">
					<span class="error" ng-show="RegistrationForm.password.$error.minlength">
						Must be atleast 6 characters.
					</span>
					<span class="error" ng-show="RegistrationForm.password.$error.maxlength">
						Must be less than 15 characters.
					</span>					
				</div>
				<button type="submit" class="landing-submit" ng-disabled="RegistrationForm.$invalid"
				ng-click="registerUser(registration.username,registration.email,registration.password)">Submit</button>	
				<div class="login-container">
					<a class="landing-login-link" ng-href="#">Already have an account? Click here to sign in!</a>
				</div>
			</form>
		</div>
		<div class="large-8 columns landing-image">
		<a ng-href="#map"> Link</a>
		</div>
	</div>
</div>
