<div class="landing-body">
	<div class="row">
		<div class="large-8 columns landing-logo">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus maxime veritatis omnis quaerat modi sapiente laboriosam possimus, ipsam commodi quod rem earum dolor facilis cupiditate magnam rerum inventore repellat, laudantium.</div>
		<div class="large-4 columns landing-greeting">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti rem eos, eveniet quos nam aspernatur assumenda ipsa, quo nobis labore at sapiente excepturi magnam ullam eius libero laborum dignissimos alias!</div>
		<div class="large-4 columns	landing-form-container">
			<form class="landing-form">
				<input type="text" value="Username">
				<input type="text" value="username@email.com">
				<input type="password" value="password">
				<button class="landing-submit">Submit</button>	
				<div class="login-container">
					<a class="landing-login-link" ng-href="#">Already have an account? Click here to sign in!</a>
				</div>
			</form>
		</div>
		<div class="large-8 columns landing-image">
		<a ng-href="#map"> Link</a>
		</div>
	</div>
</div>
<div id="map-canvas"></div>