<form ng-controller="LoginController" name="LoginForm" class="landing-form">
	<div class="user-registration-status">{{ invalidLogin }}</div>
	<input name="username" type="text" ng-minlength="6" ng-model="login.username" placeholder="username" required>
	<div role="alert">
		<span class="error" ng-show="LoginForm.input.$error.required">
			Required!
		</span>
	</div>

	<input name="password" type="password" ng-model="login.password" placeholder="password" ng-minlength="6" ng-maxlength="15" required >
	<div role="alert">
		<span class="error" ng-show="LoginForm.password.$error.minlength">
			Must be atleast 6 characters.
		</span>
		<span class="error" ng-show="LoginForm.password.$error.maxlength">
			Must be less than 15 characters.
		</span>					
	</div>
	<br>
	<br>
	
	<button type="submit" class="landing-submit" ng-disabled="LoginForm.$invalid"
	ng-click="loginUser(login.username,login.password)">Log in!</button>	
	<div class="login-container">
		<a class="landing-register-link" ui-sref="home.register">Don't have an account? Click here to sign up!</a>
	</div>
</form>
