<!-- <<<<<<< HEAD
======= -->
<input type="text" id="pac-input" class="controls" placeholder="Find me food in..." >
<div id="thisRestaurant">
  <h1>{{ restaurantName }}</h1>
</div>




<div id="mapContainer" class="row">
  <div id="map-canvas" class="small-9 large-9 columns"></div>
  <div id="directionsPanel" class="panel small-3 large-3 columns"></div>
</div>

<div class="nextRestaurant" ng-click="nextRestaurant()">No thanks, show me another!</div>


<!-- >>>>>>> 3c6ab2e2d1878b23ad7daedbd721ea1c6aac79a8

  <div id="map-canvas"></div>
  <input type="text" id="pac-input" class="controls" placeholder="Find me food in..." >
  <div id="directionsPanel" class="panel"></div>
  <div id="thisRestaurant">
    <h1>{{ restaurantName }}</h1>
  </div>
  <div class="nextRestaurant" ng-click="nextRestaurant()">Next Restaurant</div>
	<div ng-controller="FavoritesController">
  <Button ng-click="addFavorite()"></Button>
	</div>
</div>
<div id="total"></div>
 -->